/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
 html, section, body, article, h1, h2, p, nav, main, figure {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     font-size: 19px;
     text-align: inherit;
     text-decoration: inherit;
     background: transparent;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: #24252A;
     font-family: 'Montserrat', sans-serif;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.main-nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
    box-sizing: border-box;
    height: 63px;
    padding: 0 20px;
    color: black;
    width: 100%;
    font-weight: 100;
}
.nav-login {
    display: flex;
    justify-content: right
}
.main-nav a {
    padding: 0px 10px;
    font-weight: 1000;
    font-size: 30px;
}
.main-nav:hover {
    background-color:aqua;
}
div {
    display: block;
    padding: 10px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.button_logout {
    background-color: turquoise;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 5px 18px;
}
section.cat-index-holder {
    margin: 14px;
}

div li button a {
    font-weight: 500;
    font-family: 'Montserrat' sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.alert-login {
    color: #d8000c;
    background-color: #FFBABA;
}
#already_logged_in {
    padding-left: 30px;
    height: 25px;
    color: #d8000c;
    background-color: #FFBABA;
    animation-name: error-login;
    animation-duration: 2s infinite;
}
@keyframes error-login {
    0% { top: 0px; background: #FFBABA; width: 100%;}
    100% {top: 200px; background: springgreen; width: 300px;}
}
.footer {
    position: fixed;
    display: block;
    text-align: center;
    padding: 3px;
    background-color: darkgoldenrod;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}
a:hover {
    color: hotpink;
}
a {
    color: #65F4CD
}