<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.email %> someone is trying to signed in with your account </h1>
    <p>
        If you want to secure your credentials pliz try and change pliz 
        your password and email for the personal to not identifie your account.
    </p>
    <p>
        To change the email and password go though the following steps: <%= @url %>
    </p>
    <p>Thanks for protecing your account and your privacy policy!</p>
  </body>
</html>